/* <!-- Bagian Ifan Sutiono --> */

/* tablet */
@media all and (max-width: 1000px){
    .lesson-wisata{
        width: 50%;
        margin-bottom: 50px;
    }
    .lessons-team{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .lesson-team{
        width: 50%;
        margin-bottom: 50px;
    }
    .lesson-kuliner{
        width: 50%;
        margin-bottom: 50px;
    }
    .heading h2{
        font-size: 20px;
    }
    .contact-img{
        display: none;
    }
    .svg{
        display: none;
    }
    .sosmed .fab{
        font-size: 14px;
    }
}

/* smartphone */
@media all and (max-width: 670px){
    .header-mid{
        display: block;
    }
    .header-right{
        display: none;
    }
    .top-wrapper{
        /* background-position: top; */
        text-align: left;
    }
    .top-wrapper h1{
        font-size: 24px;
        line-height: 36px;
    }
    .top-wrapper p{
        font-size: 14px;
        line-height: 20px;
    }
    .btn{
        width: 100%;
    }
    .btn-wrapper{
        text-align: center;
    }
    .lesson-wrapper-wisata{
        position: relative;
        top: -55px;
    }
    .lesson-wisata{
        width: 100%;
        margin-bottom: 40px;
    }
    .lesson-kuliner{
        width: 100%;
        margin-bottom: 50px;
    }
    .lesson-team{
        width: 100%;
        margin-bottom: 40px;
    }
    footer{
        padding: 0px;
    }
    .footer-top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-logo img{
        width: 120px;
        height: auto;
        margin-bottom: 20px;
    }
    
    .footer-list{
        float: left;
        padding: 0;
        margin: 0;
    }
    .footer-list li{
        display: none;
    }
    .follow-us{
        position: relative;
        top: -20px;
        float: left;
        margin-right: 20px;
        font-size: 14px;
    }
    .contact-img{
        display: none;
    }
    .contact-submit{
        width: 100%;
    }
    .svg{
        display: none;
    }
}

/* <!-- /Bagian Ifan Sutiono --> */

