/* tablet */
@media all and (max-width: 1000px){

}

/* smartphone */
@media all and (max-width: 670px){
    .header-right{
        display: none;
    }
    .top-wrapper{
        background-position: top;
        padding: 100px 0;
        text-align: left;
    }
    .top-wrapper h1{
        font-size: 24px;
        line-height: 36px;
    }
    .top-wrapper p{
        font-size: 14px;
        line-height: 20px;
    }
    .btn{
        width: 100%;
    }
    .facebook{
        margin-bottom: 10px;
    }
    .btn-wrapper{
        text-align: center;
    }
    .lesson-wrapper-wisata{
        position: relative;
        top: -55px;
    }
}